# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Environment files
.env

# Firebase credentials
firebase-service-account.json

# Build and temporary directories
dist/
build/
tmp/
temp/

# Winston logs
errors.log

# OS-specific files
.DS_Store
Thumbs.db

#keywords
categoryKeywords.js

#firebase client
firebaseclient.js